## Core latex/pdflatex auxiliary files:
/*.aux
/*.fls
/*.log

## Build tool auxiliary files:
/*.fdb_latexmk
/*.synctex.gz

## Intermediate documents:
/*.dvi
/*.ps

# Converted images
*-eps-converted-to*

# Bibtex
/*.blg
/*.bbl
/*.out

/*.toc
